.wraper{
    width: 900px;
    margin: auto;
}
/* =================heder==================== */
.main-menu{
    text-transform: uppercase;
    font-family:Myriad pro;
    font-size: 14px;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

}
.main-nav{
    margin-top: 77px;
    margin-bottom: 105px;
}
.main-menu-link{
    display: inline-block;
    /* padding: 10px 0px 10px 40px; */
}
.main-menu-link:not(:nth-child(4n)){
    margin-right: 40px;
}
.main-menu a{
  color: #626262;
font-weight: 400;
text-transform: uppercase;
text-decoration: none;
line-height: 16px;
display: inline-block;
}
.main-menu a:hover{
    color: #03a9f4;
}
/* ====================main=================== */
.article-list{
    list-style: none;
    margin: 0; 
    padding: 0;
    font-size: 0;
}
.article-list-item{
    height: 480px;
    width: 420px;
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
    margin-bottom: 138px;
}
.wrp{
    margin-bottom: 0;
}

.article-list-item:nth-of-type(2n) {
  margin-right: 0;
}
.article-list-status{
    line-height: 17px;
    font-family: "Myriad pro";
    font-size: 14px;
    font-weight: 420;
    color: #b4ad9e;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}
.article-list-name{
    color: #626262;
    font-size: 30px;
    line-height: 36px; 
    font-family: "Myriad pro";
    margin: 30px 0 0 0;
}
.article-list-about{
    line-height: 17px;
    font-family: "Myriad pro";
    font-size: 14px;
    font-weight: 420;
    color: #626262;
    margin: 30px 0 0 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.main-menu .article-list{
    width: auto;
    margin: auto;    
}
/* ================footer============ */
/* cd */
.botton_load{
    height: 60px;
    width: 164px;
    font-family: "Myriad pro";
    font-size: 20px;
    color: #626262;

}
.button{
    text-align: center;
    display: block;
    padding-top: 55px;
    padding-bottom: 70px;
}